[submodule "capsule-bootloader"]
	path = capsule-bootloader
	url = git@gitcode.com:hnx-project/capsule-bootloader.git
[submodule "hnx-core"]
	path = hnx-core
	url = git@gitcode.com:hnx-project/hnx-core.git
	branch = develop
